{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="card my-5">
        <div class="card-body h5 m-5">
            Epicie est un site web e-épicier qui a pour objectif de simplifier la gestion de votre épicerie en ligne. Notre
            plateforme vous permet de gérer efficacement vos clients, vos produits et vos articles, ainsi que les crédits accordés à
            vos clients.
            En tant que gestionnaire de votre épicerie, vous avez accès à une interface conviviale et facile à utiliser qui vous
            permet de suivre, vos clients, vos stocks et vos ventes en temps réel. Vous pouvez également ajouter de nouveaux
            produits, mettre à jour les prix et les descriptions.
            Grâce à notre système de gestion des clients, vous pouvez facilement suivre s, vérifier l’historique d'achat de vos
            clients, gérer leurs crédits et ajuster leurs informations de profil.
            En somme, Epicie est la solution idéale pour les épiciers qui cherchent à gérer efficacement leur activité en ligne.
            Notre plateforme est facile à utiliser, flexible et évolutive pour s'adapter aux besoins de votre entreprise. Essayez
            Epicie dès aujourd'hui et commencez à gérer votre épicerie de manière plus efficace et plus rentable.

        </div>
    </div>
</div>






{% endblock content %}